:root {
  --DarkBlack: #000;
  --White: #fff;
  --Black: #333;
  --DarkGrey: #a3acb6;
  --Grey: #f3f5f8;
  --SlateGrey: #e9edf1;
  --GhostGrey: #eee;
  --DarkBlue: #638da8;
  --Red: #fd4e4e;
  --Blue: #3ac2ff;
  --Pink: #ffd6d9;
  --Azure: #dde2e7;
  --GhostBlack: #999;
  --DarkPink: #FF9E9E;
}
